<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appzorro.driverappcabscout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.Activity.SplashActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activity.loginActivity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.Activity.ReviewActivity" />
        <activity
            android:name=".view.Activity.SignUp"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.CabCompanyActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.RideHistory"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.MyBookingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.Profile_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.CashCollect"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.HelpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.FareDetail"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".model.FireIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".model.FireMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".model.AppService"
            android:stopWithTask="false" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id_accountKit" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/Account_kit_client_token" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/Account_protocol_scheme" />
            </intent-filter>
        </activity>

        <!--
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="410517842613797" />
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key_v2" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".view.Activity.HistoryDeatil"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.PathmapActivity.view.PathMapActivity"
            android:windowSoftInputMode="stateHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.Activity.DriverPathActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.Practiseactivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.Rating"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.StopTripsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.Activity.NotificatonDialog"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyDialog" />

        <receiver
            android:name=".model.SensorRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="com.example.appzorro.quickbloxsample.RestartSensor" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".model.NetworkChangeReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.Activity.ForgotPassword"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.Activity.ContactUsActivity" />
        <!-- <activity android:name=".view.Twitter"></activity> -->
        <activity android:name=".view.Activity.Main5Activity" />
        <activity android:name=".view.Activity.TripDetail" />
        <activity android:name=".view.Activity.MyEarning" />
        <activity android:name=".view.Activity.Trip_info_Detail" />
        <activity
            android:name=".view.HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".view.Activity.InternetStatus"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".view.Activity.ChatActivity"></activity>
    </application>

</manifest>